
.nav {
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #F9F9FA;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(225, 224, 224, 0.3);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
    color: #2e363e;
}

/* 채팅창위에 빨간 말풍선1을 만드는 과정 */
.nav__notification{
    
    position:absolute;
    left: 15px;
    bottom: 15px;
}

.nav__dot{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    position: absolute;
    left: 33px;
    bottom:30px;
    


}